#musicFolder {
    display: flex;
    margin-top: 40px;
}

#musicListEdit {
    margin-left: 10%;
    width: 15%;
}

#musicListEdit ul {
    padding-right: 130px;
}

#musicList {
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding-left: 0px;

    list-style-type: none;
}

#musicList > li ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    padding: 20px 50px;
    gap: 20px 50px;
}

#musicListEdit, #musicList {
    background-color: var(--main-bright-background-color);
    border-radius: 7px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

#musicBase {
    display: none;
}

.musicField {
    list-style: none;
    display: flex;
}

.musicField label {
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    width: 200px;
    border-radius: 9px;
    transition-duration: 250ms;
    transition-delay: 500ms;
}

.musicField img {
    height: 100px;
    width: 100px;
}

.musicField p {
    text-align: center;
    margin-bottom: 0px;
}

.inputMusicInList:checked + label {
    border-color: lime;
    box-shadow: 0px 0px 20px;
    transition-duration: 250ms;
    transition-delay: 0s;
}

.inputMusicInList:hover + label {
    transition-delay: 0s;
    box-shadow: 0px 0px 20px;
    transition-duration: 250ms;
}

/* CSS Priority warning */
#musicList .inputCollapseOrShow:checked + ul {
    display: none;
}

.listLetter {
    text-align: center;
}

.listLetter > label p {
    font-size: 40px;
    text-shadow: 0px 0px 20px;
}

#addMusic {
    position: absolute;
    display: none;
    width: 1000px;
    height: 500px;
    left: calc(50% - 1000px/2);
    top: calc(50% - 500px/2);

    border-radius: 100px;
    border: 5px solid white;

    z-index: 3;
    background-color: var(--main-bright-background-color);
}

#addMusic label {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
    width: 88%;

    border-radius: 60px;
    border-style: dashed;
    border-color: var(--main-background-color);
    transition-duration: 100ms;
    transition-delay: 250ms;
}

#loadedFileDescription, #loadedFileSize {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

#loadedFileSize {
    display: none;
}

#addMusicInput {
    display: none;
    opacity: 0;
}

#closeImportWindowsButton {
    position: absolute;
    margin: 0px;
    width: 150px;
    left: calc(50% - 150px/2);
    top: 131%;
    font-size: 25px;
}

#uploadTrackButton {
    position: absolute;
    margin: 0px;
    width: 200px;
    left: calc(50% - 200px/2);
    top: 115%;
    font-size: 30px;
}

.inputFieldMusicFolder {
    color: white;
    
    text-align: center;
    
    background-color: var(--main-background-color);
    border: 1px white solid;
    border-radius: 7px;
    box-shadow: 0px 0px 5px;
    width: 100%;
    margin-bottom: 20px;
}